# NextAuth
AUTH_SECRET=your-auth-secret-here
GITHUB_CLIENT_ID=your-github-client-id
GITHUB_CLIENT_SECRET=your-github-client-secret

# Database connection URL
# For local development with Docker:
#   docker run -e POSTGRES_PASSWORD=postgres -p 5432:5432 postgres:15
DATABASE_URL="postgres://postgres:postgres@localhost:5432/postgres"

# For Vercel Postgres
POSTGRES_URL=your-postgres-connection-url

# Vercel Blob Storage
BLOB_READ_WRITE_TOKEN=your-blob-read-write-token
